# Terraform state
*.tfstate
*.tfstate.backup
*.tfplan
crash.log

# Terraform provider/cache dir
.terraform/

# Ignore IDE/editor configs
.vscode/
.idea/

# macOS system files
.DS_Store

# Log/output dumps
*.log

# Sensitive override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json
